.Project-Add-window {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.63);
}

.Project-Add-window-content {
    width: 50%;
    height: auto;
    padding-bottom: 3rem;
    border-radius: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: rgba(18, 24, 46, 0.86);
}

.ProjectDetails-form {
    margin-top: 4.5rem;
    margin-left: 5rem;
}

.second-row, .first-row, .fourth-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.second-row .ProjectDetails-form-subdetails-2 {
    margin-left: 6.2rem;
}

.Project-Add-label {
    color: #fcfd00;
    font-size: 2rem;
    margin-bottom: 10px;
}

.Project-Add-input, .Project-Add-input[type="date"] {
    display: block;
    background: transparent;
    border: none;
    color: rgba(128, 128, 128, 0.89);
    font-size: 2rem;
}

.Project-Add-input:focus {
    outline: none;
    color: #ffffff;
}

.third-row {
    padding-top: 3rem;
}

.detail-button {
    background-color: rgba(19, 139, 190, 1);
    border: none;
    color: #fff;
    width: 170px;
    padding: 0.5rem 0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 32px;
    box-shadow: 1px 0 4px 1px rgba(19, 139, 190, 0.47);
}

.save-button:hover, .cancel-button:hover, .detail-button:hover {
    background-color: rgba(255, 255, 255, 0.81);
    color: #09b7ff;
}